@charset "UTF-8";

.headerDiv1 {
	margin-left : 40px;
	height : 100px;
	padding-left : 10px;
	padding-right : 30px;
}

.hImg {
	float : left;
	padding-top : 30px;
	padding-left : 50px;
}

.search {
  position: relative;
  width: 400px;
  float : left;
  padding-top : 40px;
  margin-left : 30px;
}

.scInput {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 25px;
  padding: 10px 12px;
  font-size: 14px;
}

.scImg {
  position : absolute;
  width: 17px;
  top: 10px;
  right: 12px;
  margin: 0;
  padding-top : 40px;
}

.fDiv {
	margin : 1px;
	height : 100px;
	padding-left : 20px;
	padding-top : 30px;
}

.fImg {
	float : left;
}

.fp {
	float : left;
	padding-left : 70px;
}

.fp2 {
	font-size : 13px;
	color : grey;
	margin-top : -10px;
	margin-bottom : -10px;
}

.mainImg {
	width : 270px;
	height : 115px;
	opacity: 0.5;
	margin-left : 40px;
	margin-top : 10px;
}




.headerDiv2 {
	margin-left : 40px;
	margin-right : 40px;
	margin-top : 15px;
	height : 100px;
	padding-left : 10px;
	padding-right : 30px;
}

.menu {
	width : 70%;
	float : left;
	height : 80px;
}

.login {
	width : 30%;
	float : left;
	height : 80px;
}
#alogin, #ajoin, #alogout{
	color : black;
	font-size : 17px;
}
#alogin:hover, #ajoin:hover, #alogout:hover   {
	font-weight: bold;
}



#topMenu {
	height: 30px;  
    width: 850px;  
}

/* 메인 메뉴 안의 ul을 설정함: 상위메뉴의 ul+하위 메뉴의 ul */
#topMenu ul {           
	list-style-type: none;  
	margin: 0px;            
	padding: 0px;           
}

/* 메인 메뉴 안에 ul 태그 안에 있는 li 태그의 스타일 적용(상위/하위메뉴 모두) */
#topMenu ul li {            
	float: left;                
	line-height: 35px;          
	vertical-align: middle;     
	text-align: center;         
	position: relative;         
}

/* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */
.menuLink, .submenuLink {           
	text-decoration:none;               
	display: block;                     
	width: 150px;                       
	font-size: 17px;
	color : black;                    
	/* font-family: "Trebuchet MS", Dotum; */ 
}

/* 상위 메뉴의 li에 마우스오버 되었을 때 스타일 설정 */
.topMenuLi:hover .menuLink {    
	color: black;
	font-weight: bold;                  
}

/* 좀 더 긴 메뉴 스타일 설정 */
.longLink {     
	width: 150px;   
}

/* 하위 메뉴의 a 태그 스타일 설정 */
.submenuLink {          
	color: #2d2d2d;             
	background-color: white;    
	margin-right: -1px;         /* 위 칸의 하단 테두리와 아래칸의 상단 테두리가 겹쳐지도록 설정 */
}

/* 하위 메뉴 스타일 설정 */
.submenu {              
	position: absolute;     
	height: 0px;            
	overflow: hidden;       
	transition: height .2s; 
	-webkit-transition: height .2s; 
	-moz-transition: height .2s; 
	-o-transition: height .2s; 
	width: 574px;
}

/* 가로로 펼쳐지도록 설정 */
.submenu li {
	display: inline-block;  
}

/* 상위 메뉴에 마우스 모버한 경우 그 안의 하위 메뉴 스타일 설정 */
.topMenuLi:hover .submenu { 
	height: 32px;
}

/* 하위 메뉴의 a 태그의 마우스 오버 스타일 설정 */
.submenuLink:hover {        
	color: black;
	font-weight: bold;                 
}



.main_font1 {
	font-size : 40px;
	font-weight : bold;
	text-align : center;
}

.main_div1 {
	float : left;
	width : 450px;
  	height : 670px;
  	margin-left : 4%; 
}

.main_div2 {
	float : left;
	width : 750px;
  	height : 670px;
  	margin-right : 4%;
}

.main_div2 a {
	text-decoration-line: none;
}

.main_div1 {
	border-bottom: 1px solid #e5e5e5;
}

.main_div2_1 {
	position : relative;
}

.main_div2_2 {
	margin-top : 26px;
}

.div1_img {
	width : 430px;
	height : 580px;
}

.div2_1_img {
	width : 230px;
	height : 322px;
	margin-left : 8px;
}

.div2_2_img {
	width : 230px;
	height : 322px;
	margin-left : 8px;
}

.list1_p1 {
	text-align : center;
	font-size : 20px;
	font-weight : bold;
	padding-top : 15px
}

.list1_p2 {
	text-align : center;
	font-size : 15px;
	color : #c0c0c0;
	margin-top : -12px;
}

.main_font2 {
	font-size : 40px;
	font-weight : bold;
	text-align : center;
	margin-top : 200px;
	margin-bottom : 45px;
}

.main_div3 {
	width : 1400px;
	height : 400px;
	padding : 0;
}

.div3_1_img {
	width : 220px;
	height : 308px;
}

.main_div3_1 {
	width : 221px;
	height : 400px;
	float : left;
	margin-right : 17px;
	border : 1px solid #e5e5e5;
	text-align : center;
	position : relative;
}

.div3_font_1 {
	margin-top : 10px;
	color : #0080c0;
	text-align : center;
}

.div3_font_1:after {
	content : "";
    display : block;
    width : 24px;
    height : 3px;
    background : #111;
    position : relative;
    top : 10px;
    left : 50%;
    transform : translate(-50%, 0);
}

.div3_font_2 {
	text-decoration-line : none;
	color : black;
}

.main_div3_1 div span {
	color : #fff;
	width : 140px;
	height : 140px;
	background: rgba(0, 0, 0, 0.39);
	border: 7px solid #0080c0;
	position : absolute;
	top : 0;
	left : 0;
	right : 0;
	border-radius: 50%;
	margin-top : 80px;
	margin-left : 38px;
	font-size : 27px;
	font-weight : bold;
	padding-top : 45px;
}

.tkBtn {
	width : 220px;
	height : 50px;
	background : white;
	border : 1px solid #d4d4d4; 
}

.btnDiv {
	text-align : center;
	margin-top : 50px;
	margin-bottom : 160px;
	margin-left : -10px;
}

.headerImg {
	width : 170px;
	height : 70px;
}

