<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="main">
	<select id="mainList" resultType="pr.ticket.universe.model.main.dto.MainDTO">
		SELECT pf_order, pf_id, artist_id, category_id, pf_date, pf_name, pf_price, pf_time, pf_status,
	   		   CONCAT('/resources/images/', thumb) as thumb, ticket_date
		FROM performance
		ORDER BY pf_order ASC
	</select>
	
	<select id="mainList2" resultType="pr.ticket.universe.model.main.dto.MainDTO">
		SELECT pf_order, pf_id, artist_id, category_id, pf_date, pf_name, pf_price, pf_time, pf_status,
	   		   CONCAT('/resources/images/', thumb) as thumb, ticket_date,
	   		   REPLACE(LEFT(ticket_date,10), '.', '-') as t_date,
	   		   CONCAT(LEFT(pf_name, 12), '···') as name
		FROM performance
		WHERE pf_status = 0
		ORDER BY t_date ASC
	</select>
	
</mapper>