<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="admin">
	
	<select id="artistList" resultType="pr.ticket.universe.model.artist.dto.ArtistDTO">
	    SELECT artist_id, artist_name, created_date, modifided_date, artist_order,
				   CONCAT('/resources/images/', thumb) as thumb
	    FROM artist
	    WHERE 1=1
	    AND artist_id != 'AR0'
	    <!-- <if test="keyword != null or keyword != ''">
	    AND artist_name like CONCAT('%', #{keyword}, '%')
	    </if> -->
	    ORDER BY artist_order ASC
	    LIMIT #{pageStart}, #{perPageNum}
	</select>

	<select id="listCount" resultType="int">
		SELECT count(artist_id)
		FROM artist
	</select>
	
	<!-- 아티스트 수정 페이지 이동 -->
	<select id="selectOne" resultType="pr.ticket.universe.model.artist.dto.ArtistDTO">
		SELECT artist_id, artist_name, created_date, modifided_date, artist_order,
				   CONCAT('/resources/images/', thumb) as thumb
	    FROM artist
	    WHERE artist_order = #{artist_order} 
	</select>
	
	<!-- 아티스트 삭제 -->
	<delete id="artistDelete">
		DELETE
		FROM artist
		WHERE artist_order = #{artist_order}
	</delete>
	
</mapper>